<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="梦想小鱼的博客,ALONE SPACE,DreamFish,梦想小鱼的个人分享博客,梦想小鱼的个人分享平台,梦想小鱼">
    <meta name="description" content="梦想小鱼的个人分享博客-一只喜欢炫酷的程序猿的学习分享博客，分享IT技术，一起学习成长！">
    <title>博客仪表盘 - ALONE SPACE</title>
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="/assets/css/loader.min.css">
    <script type="text/javascript" src="/assets/js/config.js"></script>
    <script type="text/javascript" src="/assets/js/yzc-blog.min.js"></script>
    <script type="text/javascript" src="/assets/js/utils.min.js"></script>
    <!--Debug only
    <script type="text/javascript" src="/assets/libs/vue.js/vue.js"></script>-->
    <script type="text/javascript">
        setLoaderCSS(new Array(
            "/assets/libs/bootstrap/css/bootstrap.min.css",
            "/assets/libs/font-awesome/css/font-awesome.min.css",
            "yzc-blog.min.css",
            "/assets/libs/owl.carousel/css/owl.carousel.css",
            "/assets/libs/owl.carousel/css/owl.theme.css",
            "/assets/libs/owl.carousel/css/owl.transitions.css"));
        setLoaderJS(new Array(
            "/assets/libs/jquery/jquery.min.js",
            "/assets/libs/popper/popper.min.js",
            /**/"/assets/libs/vue.js/vue.min.js",/**/
            "/assets/libs/bootstrap/js/bootstrap.min.js",
            "string-hlp.min.js",
            "/assets/libs/scrollReveal/scrollReveal.js",
            "/assets/libs/owl.carousel/js/owl.carousel.min.js",
            "/assets/js/admin/dashboard-pub.min.js",
            "/assets/libs/sweetalert2/js/sweetalert2.min.js"));
    </script>
    <!--Baidu tongji-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b817302b643ad43baed860443308c8d1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="not-load dashboard">

    <!--Header-->
    <header id="header-minimum">
        <div class="container main-menu" style="padding-top: 40px; padding-bottom: 30px;">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="nav-header-text">
                    <span class="logo"></span>
                    <a href="/">Alone space</a>
                </div>
                <button type="button" id="mobile-nav-toggle">
                    <i class="fa fa-bars"></i>
                </button>
                <nav id="nav-menu-container" class="nav-menu-container">
                    <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: auto;">
                        <li><a href="/">博客主页</a></li>
                        <li class="menu-active"><a>博客后台</a></li>
                        <li class="nav-user" data-toggle="dropdown" data-reference="current_user_menu">
                            <img class="current-user-head" src="/images/default/head-default.png">
                            <span class="current-user-name">用户名<i></i></span>
                        </li>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/user/" class="dropdown-item"><i class="fa fa-user-o"></i> 账号信息</a>
                            <a href="/sign-out/" class="dropdown-item"><i class="fa fa-sign-out"></i> 退出登录</a>
                        </div>
                    </ul>

                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!--Main-->
    <article id="main" class="dashboard-area side-open">

        <!--Side area open hide switch-->
        <div class="side-area-switch"></div>
        <!--Side area-->
        <div class="side-area">
            <ul class="side-panel">
                <li><a href="/admin/" id="admin-side-switch-index" :class="isCurrentUrlAndActive('index')"><i
                            class="side-icon fa fa-home"></i>博客仪表盘</a></li>
                <li class="side-has-children"><a><i class="side-icon fa fa-bookmark"></i>
                        文章管理<span class="side-switch"></span></a>
                    <ul>
                        <li><a href="/admin/manage-archives/" id="admin-side-switch-manage-archives" :class="isCurrentUrlAndActive('manage-archives')">文章列表</a></li>
                        <li><a href="/admin/write-archive/" id="admin-side-switch-write-archive" :class="isCurrentUrlAndActive('write-archive')">写文章</a></li>
                    </ul>
                </li>
                <li><a href="/admin/manage-classfication/" id="admin-side-switch-manage-classfication" :class="isCurrentUrlAndActive('manage-classfication')"><i class="side-icon fa fa-th-large"></i>分类和标签</a></li>
                <li class="side-has-children">
                    <a><i class="side-icon fa fa-user"></i>
                        作者和用户管理<span class="side-switch"></span></a>
                    <ul>
                        <li><a href="/admin/user-center/" id="admin-side-switch-user-center" :class="isCurrentUrlAndActive('user-center')">个人信息修改</a></li>
                        <li><a href="/admin/manage-users/" id="admin-side-switch-manage-users" :class="isCurrentUrlAndActive('manage-users')">用户管理</a></li>
                        <li><a href="/admin/new-user/" id="admin-side-switch-new-user" :class="isCurrentUrlAndActive('new-user')">新建作者用户</a></li>
                    </ul>
                </li>
                <li><a href="/admin/settings/" :class="isCurrentUrlAndActive('settings')"><i
                            class="side-icon fa fa-cog"></i>系统通用设置</a></li>
            </ul>

        </div>
        <!--Main content-->
        <div v-if="contentLoadStatus==1" id="dashboard_content" class="dashboard-content">
        </div><!--Main content load failed--><div v-else-if="contentLoadStatus==-1" class="dashboard-content">
            <div class="container" style="height:100%">
                <div
                    class="box full text-center text-danger d-flex justify-content-center align-items-center flex-column">
                    <i class=" fa fa-times-circle-o" aria-hidden="true" style="font-size: 3.5em"></i>
                    <p class="text-secondary mt-2"><span class="h4">404</span><br /> 找不到您请求的页面 (T_T)</p>
                    <button type="button" class="btn btn-primary">返回首页</button>
                </div>
            </div>
        </div>
    </article>


</body>

</html>