//About content
.about {
	position: relative;
	text-align: center;
	padding: 30px 20px;
	border: 1px solid $def-border-color;
	margin: 25px 5px;

    @include prefix(box-shadow,0px 0px 15px 0px rgba(0, 0, 0, 0.05), webkit moz);

	border: 1px solid #e5e5e5;
    min-height: 350px;
    
    i {
        font-size: 36px;
        color: $highlight-color;
        margin-bottom: 40px;
    }
    a {
        font-weight: 600;
        display: block;
    }

}
.about-footer{
	background-color: $bg-grey;
	position: relative;
}
.about-footer-image{
	position: absolute;
	top: -380px;
	left: 0;
	right: 0;
	background-image: url(/images/about_bg.png);
	height: 380px;	
}
.about-man{
	margin-top: 50px;
	max-width: 100%;
	height: auto;
}
.about-fire-ballon{
	max-width: 210px;
	height: auto;
	margin-top: 200px;
	margin-left: 50px
}

@media (max-width: 768px) {
	.about-fire-ballon{ display: none; }
	.about-man{ margin-top: 0px; }
}