/*Button styles*/
.flat-btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;

    @include prefix(user-select,none);

	user-select: none;
	border: 2px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0;
	transition: all .15s ease-in-out;
    background-color: #dfdfdf;
    
    &:not(.disabled):hover {
        background-color: $highlight-color-more;
        border-color: transparent;
        color: $white;
    }

    &:not(.flat-btn-icon):not(.flat-round) i {
        margin-right: 5px;
        font-weight: 600;
    }

    i {
        font-weight: 600;
    }

    
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &.disabled, &:disabled {
        opacity: .65;
        cursor: default;
        border: 2px solid #dfdfdf;
    }

    //Backgrounds
    &.btn-link{
        background-color: transparent!important;
        border-color: transparent!important;
        &:hover{ color: $highlight-color-more!important; }      
    }
    &[class~=bg-info]{
        color: $white;
    }
    &[class~=bg-dark]{
        color: $white;
    }
    &[class~=bg-danger]{
        color: $white;
    }
    &[class~=bg-warning]{
        color: $white;
    }
    &[class~=bg-success]{
        color: $white;
    }
}

.flat-btn-white {
	border: 2px solid $white;
	background-color: transparent!important;
    color: $white!important;
    
    &:hover {
        background-color: transparent!important;
        border: 2px solid $highlight-color!important;
        color: $highlight-color!important;
    }
    &:active, &:focus {
        outline: none;
        border: 2px solid $highlight-color!important;
    }
}
.flat-btn-black {
	border: 2px solid $black;
	background-color: transparent!important;
    color: $black!important;
    
    &:hover {
        background-color: transparent!important;
        border: 2px solid $highlight-color!important;
        color: $highlight-color!important;
    }

    &:active,&:focus {
        outline: none;
        border: 2px solid $highlight-color!important;
    }
}
.flat-btn-hover-border:hover {
	border: 2px solid $highlight-color!important;
}
.flat {
	border-radius: 0px!important;
}

.flat-icon-btn {
    border-radius: 50%!important;
    line-height: 1rem;
    padding: .55rem .75rem;
    outline: none;
    background: transparent;
    opacity: .85;
    border: none;

    &:hover{
        opacity: 1;
    }
}
.flat-round {
    border-radius: 50%!important;
    line-height: 1rem;
    padding: .55rem .75rem;
    outline: none;

    &:focus {
        outline: none;
    }
    
    i {
        margin: 0;
    }
}
.flat-pill {
    border-radius: 20px!important;
}

/*flat btn colors*/
.flat-danger {
	color: $color-danger!important;
	border-color: $color-danger!important;
}
.flat-success {
	color: $color-success!important;
	border-color: $color-success!important;
}
.flat-warning {
	color: $color-warning!important;
	border-color: $color-warning!important;
}
.flat-info {
	color: $color-info!important;
	border-color: $color-info!important;
}