/*Dashboard style*/
.caret {
	display: inline-block;
    @include size(0,0);
    
	margin-left: 2px;
	vertical-align: middle;
	border: {
        top: 4px solid;
	    right: 4px solid transparent;
        left: 4px solid transparent;
    }
}
/* =================================================================================
Sidebar 
================================================================================= */
.sidebar {
	width: 250px;
    position: fixed;
    height: 100%;
	top: 60px;
	left: 0;
	font-family: 'Montserrat', sans-serif;
	background: #3d464d;
	font-size: 13px;
	font-weight: normal;
	z-index: 3;
    color: rgba(255, 255, 255, 0.8);
	overflow-y: scroll;
    overflow-x: hidden;
    
    &::-webkit-scrollbar { display: none; }
    .label {
        font-size: 10px;
        position: relative;
        line-height: 12px;
        padding: 2px 5px;
        position: absolute;
        right: 35px;
        top: 12px;
        font-weight: 600;
    }
    .label-default {
        background: rgba(255, 255, 255, 0.2);
    }
}
.sidebar-panel {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0px;
    li {
        position: relative;
        display: block;
        width: 100%;
        a {
            display: block;
            width: 100%;
            color: rgba(255, 255, 255, 0.6);
            padding: 9px 0px 9px 54px;
            position: relative;

            &:hover, &.active {
                color: #f2f2f2;
                background: rgba(0, 0, 0, 0.2);
                .icon { color: #fff; }
            }
            .caret {
                position: absolute;
                right: 20px;
                top: 18px;
                color: rgba(255, 255, 255, 0.4);
            }

        }
        .icon {
            position: absolute;
            left: 20px;
            top: 3px;
            display: block;
            color: rgba(255, 255, 255, 0.6);
            font-size: 19px;
            border-radius: 3px;
            text-align: center;
            width: 24px;
            height: 24px;
            padding-top: 1px;
        }
        hr {
            margin: 0;
            margin-left: 50px;
            color: transparent;
            border-top: none;
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }

        //List
        ul {
            display: none;
            padding: 0;
            background: rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 13px;
            margin: 0 -20px 0 -20px;
            font-weight: 400;
            li {
                position: relative;
                margin: 0;
                width: 100%;
                a {
                    margin: 0px;
                    color: rgba(255, 255, 255, 0.6);
                    padding: 9px 20px 9px 54px;
                    &:hover { background: rgba(0, 0, 0, 0.08); }
                }
            }
        }
    }
}

.sidetitle {
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
	padding: 0;
	margin: 0 0 5px 23px;
	letter-spacing: 0.4px;
}
.sidebar-plan {
	padding: 20px;
	font-size: 12px;
    bottom: 0;
    .progress {
        height: 6px;
        background: rgba(0, 0, 0, 0.3);
        margin: 7px 0;
    }
    .progress-bar { background: #399bff; }

    .link {
        position: absolute;
        right: 20px;
        color: rgba(255, 255, 255, 0.6);
        &:hover { color: #fff; }
    }
    .space {
        display: block;
        font-size: 11px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }
}
.sidebar-colorful {
    .sidebar-panel li a .icon {
        font-size: 15px;
        color: #fff;
    }
    .color1 { background: #399bff; }
    .color2 { background: #33577b; }
    .color3 { background: #26a65b; }
    .color4 { background: #51b7a3; }
    .color5 { background: #f39c12; }
    .color6 { background: #ef4836; }
    .color7 { background: #9a80b9; } 
    .color8 { background: #a2ded0; }
    .color9 { background: #d2527f; }
    .color10 { background: #c78568; }
    .color11 { background: #e99844; }
}
.sidebar-square .sidebar-panel li a .icon {
	font-size: 14px;
	border-radius: 0;
	background: rgba(0, 0, 0, 0.3);
}
.sidebar-no-icon .sidebar-panel li a {
    padding-left: 23px;

    .icon { display: none; }
}
  
/* =================================================================================
  Sidepanel 
  ================================================================================= */
.sidepanel {
	z-index: 9999;
	position: fixed;
	display: none;
	width: 300px;
	top: 60px;
	bottom: 0;
	right: 0;
	padding-top: 20px;
	overflow: auto;
	box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2);
    background: #FBFBFD;

    ul { padding: 0; }
    li { 
        display: block; 
        a:hover {
            background: rgba(0, 0, 0, 0.02);
        }
    }
    .nav-tabs {
        font-size: 12px;
        font-weight: bold;
        display: block;
        width: 300px;
        position: fixed;
        background: #3d464d;
        z-index: 2;
        top: 60px;
        padding: 0;
        > li {
            float: left;
            margin-bottom: -1px;
            display: inline-block;
            border-right: none;
            width: 33.3333%;
            margin: 0;
            > a {
                margin-right: 0px;
                line-height: normal;
                color: #fff;
                display: block;
                padding: 10px 0;
                border: none;
                border-radius: 0px;
                text-align: center;
                margin-bottom: -1px;
                padding: 12px 0;
                &:hover { border-color: none; }
                &:hover, &:focus {
                    color: #399BFF;
                    cursor: default;
                    background-color: #fff;
                    border: none;
                }
            }
        }
    }
}

.sidepanel-m-title {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #37363e;
	padding: 16px 0;
    position: relative;
    
    .left-icon { left: 0; }
    .right-icon { right: 0; }
    .left-icon, .right-icon {
	    border: 1px solid #e1e1e1;
	    color: #58666e;
	    position: absolute;
	    width: 26px;
	    font-size: 13px;
	    height: 26px;
        border-radius: 3px;
        
        a {
            color: #58666e;
            display: block;
            
            &:hover{
                opacity: 0.7;
            }
        }
    }
}

/* =================================================================================
Content 
================================================================================= */
.content {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	margin-left: 250px;
	background: #f5f5f5;
}
  /* =================================================================================
  FOOTER 
  ================================================================================= */
.footer {
    border-top: 1px solid #e2e2e2;
    margin-top: 15px;
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: 0;
	padding: 10px;
	font-size: 11px;
	color: #666;
    background: rgba(0, 0, 0, 0.02);
    .col-md-6 { margin-bottom: 0; }
}

  /* =================================================================================
  Page Header 
  ================================================================================= */
.page-header {
	background: #fff;
	margin: -20px -30px 20px -30px;
	padding: 20px;
	border-bottom: none;
    position: relative;
    .title {
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: normal;
        font-weight: normal;
        color: #37363e;
        padding-bottom: 6px;
        &::after{ display: none; }
    }
    .right {
        position: absolute;
        right: 20px;
        bottom: 20px;
        min-width: 500px;
        text-align: right;
        .btn-group { 
            float: right;
            .btn { border: 1px solid #E8EBED; }
        }
        .btn {
            padding-left: 14px;
            padding-right: 14px;
            font-size: 13px;
            .fa { margin: 0 4px; }
            .no-border { border: none; }
        }
    }
    .pagination { margin: 0; }
    .widget-inline-list {
        right: 0;
        bottom: -25px;
        position: relative !important;
    }
    
    /* breadcrumb */
    .breadcrumb {
    	background: none;
    	padding: 0;
    	margin: 0;
        font-weight: 600;
        .active {
            font-weight: normal;
            color: #999;
        }
        > li + li:before {
            padding: 0 5px 0 10px;
            color: #ccc;
            content: "/\00a0";
        }
    }
}


/* =================================================================================
Sidebar Open Button - Show or Hide Sidebar
================================================================================= */
.sidebar-open-button {
    position: fixed;
    top: 0px;
    left: 250px;
	height: 60px;
	font-size: 22px;
	display: block;
	width: 62px;
	text-align: center;
	color: #fff;
	padding-top: 15px;
    z-index: 15;
    &:hover,&:active {
        color: $highlight-color-content;
        background: rgba(255, 255, 255, 0.07);
        outline: none;
    }
}
.sidebar-open-button-mobile {
    z-index: 15;
    position: fixed;
    top:0px;
    left: 0;
	height: 60px;
	display: none;
	font-size: 22px;
	width: 62px;
	text-align: center;
	float: left;
	color: rgba(255, 255, 255, 0.6);
    padding-top: 14px;
    
    &:hover, &:active {
	    color: $highlight-color-content;
        background: rgba(255, 255, 255, 0.07);
        outline: none;
    }
}

.main-menu-white {
    .sidebar-open-button{ color: #000; }
    .sidebar-open-button-mobile{ color: #000; }
}



/*Dashborad card*/
.mdc-card {
    background: #fff;
    
    @include common-shadow;
    
    .text-wrapper{
        margin-left: 15px;
        margin-right: 10px;
    }
}
.mdc-tile {
    @include size(66px,66px);
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;

    i { font-size: 25px; }
}

@media (max-width: 425px) {

	.sidebar {
		top:61px;
		z-index: 12;
	}
	.content {
		max-width: 100%;
		overflow: hidden;
		padding-left: 0;
		padding-right: 0;
	}
	.page-header {
		margin: 0px 0px 20px 0px;
		padding: 10px;
	}
	.footer {
		margin-left: 0px;
		margin-right: 0px;
	}
	.container-default{
		padding: 6px;
	}
	.page-content{
		padding: 10px 25px;;
    }
    
    .page-content-no-padding-sm{
        padding: 0;
    }
}
@media (max-width: 768px) {
    .sidebar-open-button {
		display: none;
	}
	.sidebar-open-button-mobile {
        display: block;
        right: 50px;
        left: unset;
    }
    .sidebar {
        display: none;
        width: 100%;
    }
    .content {
        margin-left: 0 !important;
	}
}
@media (min-width: 768px) {
	.sidebar-open-button {
		display: block;
	}
	.sidebar-open-button-mobile {
		display: none;
    }
}

/*New Dashborad*/

.dashboard {

    position: relative;
    height: 100%;
    background-color: rgb(46, 50, 62);
    background-image: url(/images/background/dashboard-bg.png);
    background-repeat: no-repeat;
    border:none;
    
    .dashboard-area {

        position: absolute;

        @media (min-width: 768px) { top: 94px; }
        @media (max-width: 768px) { top: 71px; }

        bottom: 0;
        left: 0;
        right: 0;

        .side-area-switch  {

            position: absolute;
            left: 15px;
            top: 50%;
            margin-top: -16px;
            color: #fff;
            z-index: 201;
            transition: 0.4s;

            @media (max-width: 576px) {
                left: 5px;
            }

            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 25px;
    
            &:hover{
                color: $highlight-color-content;
            }
            &:after{

                content: "\f054";

                @media (max-width: 576px) { text-shadow: 5px 0px 5px rgba(39,44,49,0.1); }
            }            
        }

        /* side area */
        .side-area {

            display: inline-block;
            overflow: hidden;
            overflow-y: scroll;
            position: absolute;
            max-height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 200;
            transition: 0.4s;

            //background-color: rgba(46, 50, 62, 0.76);

            font-size: 16px;
            padding: 10px;
    
            @media (min-width: 992px) {
                width: 280px;
                left: -280px;
            }
            @media (max-width: 992px) {
                width: 230px;
                left: -230px;
            }
            @media (max-width: 576px) {
                max-width: unset;
                width: 100%;
                left: -100%;
            }

            .side-panel {
    
                padding: 0;
                padding-left: 20px;
    
                li {
                    position: relative;
                    display: block;
                    width: 100%;
                    cursor: pointer;
                    font-size: 14px;
    
                    a {
                        display: block;
                        width: 100%;
                        color: #fff;
                        padding: 12px 12px 12px 54px;
                        position: relative;
                        border-radius: 8px;
                        
                        &:hover {
                            color: #fff;
                            background: #5290ec;
                            .side-icon { color: #fff; }
                        }
                        &.active {
                            color: #fff;
                            background: #2e7aef;
                            .side-icon { color: #fff; }
                        }
                    }

                    .side-switch{
                        position: absolute;
                        color: inherit;
                        right: 20px;
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: 25px;
                        transition: 0.4s;
                        
                        &:after{
                            content: "\f107";
                        }
    
                    }            
                    .side-icon {
                        position: absolute;
                        left: 20px;
                        top: 13px;
                        display: block;
                        color: inherit;
                        font-size: 19px;
                        border-radius: 3px;
                        text-align: center;
                        width: 24px;
                        height: 24px;
                        padding-top: 1px;
                    }

                    hr {
                        margin: 0;
                        margin-left: 50px;
                        color: transparent;
                        border-top: none;
                        border-bottom: 1px solid rgba(255,255,255,0.1);
                    }
    
                    ul {

                        padding-left: 0;

                        li {  opacity: 0; 

                            a { color: #acacac; }
                        }
    
                    }
    
    
                    &.side-child-open {

                        .side-switch {
                            transform: rotate(180deg);
                        }

                        ul li { opacity: 1; }
                    }
                }
    
    
            }
      
            @include pc-fix-scrollbar();  
        }
        /* content area */
        .dashboard-content {
    
            position: relative;
            display: block;
            height: 100%;
            overflow: hidden;
            overflow-y: scroll;
            transition: 0.4s;
            padding-bottom: 20px;

            @media (max-width: 576px) {
                padding-left: 0;
                width: 100%;
                padding-bottom: 15px;
            }
            @media (min-width: 992px) {
                max-width: 100%;
            }

            /* Box */
            .box {
                background-color: #fff;
                border-radius: 8px;
    
                @media (max-width: 768px) {
                    padding: 15px;
                }
                @media (min-width: 768px) {
                    padding: 25px;
                }

                .box-title {
                    position: relative;
                    padding: 0 0 10px 0;
                    font-size: 16px;
                    color: #000;
                    font-weight: 600;
                    margin: 0 0 20px 0;

                    &:not(.no-underline){

                        border-bottom: 1px solid #eee;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 60px;
                            height: 2px;
                            content: "";
                            background: #0089ea;
                            left: 0;
                            bottom: 0;
                            -webkit-transition: all .5s ease;
                            transition: all .5s ease;
                        }
                    }
                }
            }
            /* Tab Fix */
            .nav-tabs { 

                .nav-link {
                    color: #000;
                    border-radius: 0;

                    &:link {
                        border: none;
                        border-bottom: 2px solid transparent;
                    }
                    &:hover, &:focus {
                        border: none;
                        border-bottom: 2px solid #3080fe;
                    }
                }

                .nav-item.show .nav-link, .nav-link.active {
                    color: #3080fe;
                    background-color: #fff;
                    border: none;
                    border-bottom: 2px solid #3080fe;
                }
            }
    
            /* PC Scrollbar */
            @include pc-fix-scrollbar();  

            .dashboard-footer {
                position: relative;
                height: 35px;
                font-size: 14px;

                span {
                    position: absolute;
                    bottom: 5px;
                    right: 30px;
                    color: #a3a3a3;
                }
            }
        }

        /* side area open */
        &.side-open {

            .side-area-switch{

                left: 5px;

                &:after { content: "\f053"; }   
            }

            @media (min-width: 576px) {
                
                .dashboard-content {
                    @media (min-width: 992px) {
                        padding-left: 280px;
                    }
                    @media (max-width: 992px) {
                        padding-left: 230px;
                    }
                }
                .side-area {
                    left: 0;
                }
            }

            @media (max-width: 576px) {
                .side-area {
                    left: 0%;
                }
            }
        }
    }

    .dropdown-menu {

        border-radius: 8px;

        @include common-shadow;

        .dropdown-item {

            padding-left: 1rem;

            &:hover {
                background-color: $highlight-color;
                color: #fff;
            }

            i {
                margin-right: 0.3rem;
            }
        }
    }
}

