@font-face {
    font-family: 'Emoji';
    src: url('../fonts/seguiemj.eot');
    src: url('../fonts/seguiemj.eot?#iefix') format('embedded-opentype'),
         url('../fonts/seguiemj.ttf') format('truetype'),
         url('../fonts/seguiemj.woff2') format('woff2'),
         url('../fonts/seguiemj.woff') format('woff');
}
@font-face {
    font-family: 'AbductionII';
    src: url('../fonts/AbductionII.eot');
    src: url('../fonts/AbductionII.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AbductionII.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
    