// Base class
//
// Basic nav header styles

.main-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 100%;
	height: auto;
	padding: 40px 50px 30px 50px;
	z-index: 15;

    @include prefix(transition, all 0.3s ease-in-out, webkit);



    ol, ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav-menu-container{
        vertical-align: middle;
    }

    .nav-header-text .logo{
        background-image: url(/images/logo/logo-white.svg);
    }
}

.dashboard .main-menu {

    background-color: transparent!important;

    @media (min-width: 768px) {
        padding-top: 30px!important;
        padding-bottom: 30px!important;
        
    }
    @media (max-width: 768px) {
        padding-top: 15px!important;
        padding-bottom: 15px!important;
    }
}

.main-menu-white {
    color: $black;
    
    .nav-header-text 
    {
        a:hover {
            color: $highlight-color;
            text-decoration: none;
        }
        .logo{
            background-image: url(/images/logo/logo-black.svg);
        }

    }
    &.header-scrolled {
        @include common-shadow;
    }
}

//Navs

/*Mobile navs*/
#mobile-nav {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 998;
    background-color: #ffffff;
	left: -290px;
	width: 290px;
	overflow-y: auto;
    transition: 0.4s;
    padding: 18px 8px 0px 8px;

    @include common-shadow;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;
            border-bottom: solid 1px rgba(231, 231, 231, 0.5);

            /*Level 2 text*/
            li {
                position: relative;
                padding-left: 30px;
            }

            a {
                color: #3d4449;
                font-size: 15px;
                text-transform: uppercase;
                overflow: hidden;
                padding: 10px 22px 10px 20px;
                position: relative;
                text-decoration: none;
                width: 100%;
                display: block;
                outline: none;

                &:hover, &:active{
                    color: $highlight-color;
                }
            }
        }
    }

    /*dropdown style*/
    .nav-menu-dropdown {
        margin-left: 0px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        padding: 15px;
        cursor: pointer;
    }
    /*Header main user head icon*/
    .nav-user {

        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 10px 22px 10px 20px;
    
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    
        span {
            color: #000;
            margin-left: 6px;
        }
    }

    .menu-has-children {
        li a { text-transform: none; }
        > a > i { display: none; }
        i {
            position: absolute;
            right: 0;
            z-index: 99;
            padding: 15px;
            cursor: pointer;
            color: #3d4449;
            font-weight: 600;

            @include prefix(transition, all 0.2s, webkit moz);
            @include prefix(transition-delay, 0s, webkit moz);
        }
    } 
    /*Active style*/
    .menu-active { 
        > a {
            color: $highlight-color;
            
            &:after {
                content: "";
                position: absolute;
                display: block;
                left: 10px;
                top: 13px;
                background-color: $highlight-color;
                @include size(2px, 15px);
            }
        }
    }
}
#mobile-body-overly {
    background-color: rgba(0,0,0,.2);
}

.nav-menu {
	margin: 0;
	padding: 0;
    list-style: none;

    /*item arrow & menu*/
    ul {
        margin: 22px 0 0 0;
        padding: 10px;
        box-shadow: 0px 0px 30px rgba(127,137,161,0.25);
        background: $white;
        position: absolute;
        display: none;
        top: 100%;
        right: 0;

        li {
            min-width: 180px;
            @include prefix(transition, 0.3s, webkit);

            a {
                padding: 5px 10px;
                color: #333;
                @include prefix(transition, 0.3s, webkit);

                display: block;
                font-size: 12px;
                text-transform: none;

                &:hover, &:active, &:focus{
                    color: $highlight-color;
                }
            }
        }
        ul {
            top: 0;
            right: 100%;
            margin-right: 10px;
            margin-top: 0;
        }

    }
    li {
        position: relative;
        white-space: nowrap;

        a {
            font-size: 14px;
    
            @include prefix(transition, 0.2s color, webkit);
    
            padding: 0 8px 0px 8px;
            text-decoration: none;
            display: inline-block;
            color: $white;
    
            font: {
                weight: 500;
                size: 14px;
                transform: uppercase;
            }
            outline: none;
    
            &:hover, &:active, &:focus{
                color: $highlight-color!important;
            }
        }    

        /*Child black item*/
        .menu-has-children .nav-menu-dropdown {
            color: $black;
        }
    }

    > li.menu-active > a {
        background: transparent;
        color: $highlight-color;

        &:after{
            width: 100%;
        }
    }
    > li {
        margin-left: 10px;
        float: left;

        > a {
            &:hover:after {
                width: 100%;
            }
            &:hover, &:focus &:hover {
                background: transparent;
                color: $highlight-color;
            }
            &:after {
                content: "";
                display: block;
                background-color: $highlight-color;
                margin-top: 2px;
                
                @include size(0%, 2px);
                -webkit-transition: 0.2s width;
                transition: 0.2s width;
            }
        }
    }



    .menu-has-children .menu-active > a {
        color: $highlight-color;
    }
}

/*Header main user head icon*/
.nav-user {

    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    span {
        color: #ffffff;
        margin-left: 6px;

        i {
            color: inherit;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 18px;
            margin-left: 5px;

            &:after{
                content: "\f107";
            }

        }
    }
}

/*Header main search icon*/
.nav-search{

    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 8px;   
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid transparent;
    width: 41px;
    background-color: #ffffff;

    @include prefix(transition, all 0.3s ease-in-out, webkit);

    a {
        padding: 0 2px 0px 2px!important;
    }

    #nav-searcher {
        border: none;
        outline: none;
        font-size: 12px;
        line-height: 12px;
        max-width: 166px;
    }

    &.show {

        border-color: #000;
        margin-left: 16px;   
        width: 194px;
    }
}
.nav-search-mobile{

    position: relative;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 8px;   
    margin-right: 8px;   
    padding: 4px 10px 4px 10px;
    border: 2px solid #000!important;
    background-color: #ffffff;

    @include prefix(transition, all 0.3s ease-in-out, webkit);

    a {
        padding: 0 2px 0px 2px!important;
        width: unset!important;
        display: inline-block!important;
    }

    #nav-searcher-mobile {
        border: none;
        outline: none;
        font-size: 12px;
        line-height: 12px;
        width: 100%;
    }
}
.nav-menu-dropdown {
	margin-left: 10px;
	cursor: pointer;
	color: $white;
}

/*Header main text*/
.nav-header-text {

    display: flex;
	color: $white;
    font-weight: bold;
    font-size: 23px;
    justify-content: flex-start;
    align-items: center;
    //font-family:'AbductionII';

    a {
        
        font-size: 23px;
        color: $white;
        text-decoration: none;
        margin-left: 8px;
        font-weight: 200;

        text-transform: uppercase;

        &:hover {
            color: $highlight-color;
            text-decoration: none;
        }
    }
    
    .logo {
        @include size(66px, 26px);

        border: none;
        background-repeat: no-repeat;
    }

    @media (max-width: 576px) {
        a { font-size: 20px; }
        img { @include size(60px, 23px); }
    }
}

/*mobile Nav toggle button*/
#mobile-nav-toggle {
	z-index: 999;
	color: $white;
	border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;

	font-size: 26px;
	transition: all 0.4s;
    outline: none;
    width: 30px;
    height: 41px;

    &.icon-menu {
        background-size: 26px 26px;
    }
    &.icon-close {
        background-size: 21px 21px;
    }

    cursor: pointer;
    
    &:focus {
        outline: none;
    }
}
/*Nav toggle*/
.navbar-toggle {

	background: {
        color: transparent;
        image: none;
    }
	border: 1px solid transparent;
	padding: 16px 16px;
	margin: {
        top: 2px;
	    right: 2px;
        bottom: 2px;
    }
    
    @include border-radius(50%);
    transition: 0.3s;

    /*Bar icon*/
    .icon-bar {
        @include size(18px, 2px);
        @include border-radius(0);

        background-color: $white;
        display: block;
        margin-top: 3px;
    }

    &:hover {
        background-color: #dddddd;
        opacity: .6;
    }
    &:active {
        background-color: #dddddd;
        opacity: .9;
    }
}

/*Header color*/
.header-scrolled {
	background-color: rgb(255,255,255);
    max-height: 61px;
    &:not(.main-menu-white) { background-color: rgba(34,34,34,0.9); }
}

/*White style menu items*/
.main-menu-white .nav-menu a,.main-menu-white .nav-menu ul li a:link, 
.main-menu-white .nav-header-text,.main-menu-white .nav-header-text a, 
.main-menu-white #mobile-nav-toggle,.main-menu-white .nav-menu-dropdown {
	color: $black;
}
//Header fade mask
.main-menu-white-fade-mask:not(.header-scrolled){
	color: $black;
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.3), rgba(255,255,255,0));

	.nav-header-text{
		.logo { background-image: url(/images/logo/logo-white.svg); }
		a { color: $white; }
	}
    

	#mobile-nav-toggle{
        color: $white;
        
        &.icon-menu {
            background-image: url(/assets/images/icon/ico-menu-white.svg)
        }
        &.icon-close {
            background-image: url(/assets/images/icon/ico-close-white.svg)
        }
	}
}
.main-menu-white-fade-mask:not(.header-scrolled).main-menu-white .nav-menu a {
    color: #fff!important; 
}
.main-menu-white-fade-mask:not(.header-scrolled).main-menu-white .nav-search a { color: #000!important;  }
.main-menu-black-fade-mask:not(.header-scrolled){
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.3), rgba(0,0,0,0));
    color: $white;
    
	.nav-header-text{
		.logo { background-image: url(/images/logo/logo-black.svg); }
		a { color: $black; }
	}

	#mobile-nav-toggle{
		color: $black;
	}
}


.sf-hr{
    height: 1px;
    margin: 3px;
    background-color: #eaeaea;
}
body.mobile-nav-active #mobile-nav {
	left: 0;
}


@media (max-width: 768px) {
    .sf-hr{ display: none; }
	.main-menu {
        padding: 10px 25px 10px 30px;
        .nav-menu-container { display: none; }
    }
}
@media (min-width: 769px) {
	#mobile-nav-toggle { display: none; }
	.navbar-toggle { display: none; }
	.side-catalog-toggle-box { display: none; }
	#header-minimum .main-menu {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

