//
//Section styes

.section {
	position: relative;
}
.section-header {
	position: relative;
	margin-top: 15px;
	margin-bottom: 30px;
    width: 100%;
    
    .title { text-transform: capitalize; }
}
.section-header-inner {
	position: relative;
	width: 100%;
}
.title:after {
	content: "";
	display: block;
	height: 4px;
	width: 40px;
	background-color: #6195FF;
	margin-top: 20px;
}
.text-center .title:after {
	margin: 20px auto 0px;
}


//Paddings for Section 
.lg-padding {
	padding-top: 100px;
	padding-bottom: 100px;
}
.md-padding {
	padding-top: 60px;
	padding-bottom: 60px;
}
.sm-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

/*Right left layout*/
.section-full{
	position: relative;
	padding: 60px 0;

	&[class*="-text-left"] .studio-content{
		padding: 0 0 0 10px;
		z-index: 5;
	}	
	&[class*="-text-right"] .studio-content{
		padding: 0 0 0 50px;
		z-index: 5;
	}

	&[class*="-text-left"]::after{
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background: #fff;
		z-index: -2;
	}
	&[class*="-text-left"]::before {
		position: absolute;
		content: "";
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background: url(../../images/exp.jpg) no-repeat center center/cover;
		z-index: -1;
	}

	&[class*="-text-right"]::after{
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background: url(../../images/edu.jpg) no-repeat center center/cover;   
		z-index: -2;
	}
	&[class*="-text-right"]::before{
		position: absolute;
		content: "";
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background: #fff;
		z-index: -1;
	}
}

@media (max-width: 425px) {
	.md-padding {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.lg-padding {
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.sm-padding {
		padding-top: 13px;
		padding-bottom: 13px;
	}

	.section-header {
		position: relative;
		margin-bottom: 10px;
		margin-top: 0;
		width: 100%;
    }
}
@media (max-width: 768px) {
	.section-header {
		margin-bottom: 20px;
	}

	/*Right left layout in mobile*/
	.section-full{
		position: relative;
		padding: 40px 0;

		&[class*="-text-left"] .studio-content{
			padding: 0 10px;
			margin-top: 250px;
			z-index: 5;
		}	
		&[class*="-text-right"] .studio-content{
			padding: 0 10px;
			margin-top: 250px;
			z-index: 5;
		}

		&[class*="-text-left"]::before {
			position: absolute;
			content: "";
			right: 0;
			top: 0;
			width: 100%;
			height: 250px;
			background: url(../../images/edu.jpg) no-repeat center center/cover;
			z-index: -1;
		}
		&[class*="-text-left"]::after{ display: none; }
		&[class*="-text-right"]::before{
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			width: 100%;
			height: 250px;
			background: url(../../images/exp.jpg) no-repeat center center/cover;   
			z-index: -2;
		}
		&[class*="-text-right"]::after{ display: none; }
	}	
	
}