//Small widgets
//

//Back to top
.go-top {
	box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
	transition: color, background-color 0.3s ease;
	bottom: 2em;
    right: 2em;

    background-color: $white;
    color: $defbg-foregound-color;
    
	font-size: 18px;
	display: none;
	position: fixed;
    text-decoration: none;
    
    @include size(40px,40px);
    @include full-round;
    
	text-align: center;
    z-index: 100;
    
    &:hover,&:active {
        background: $highlight-color;
        color: $colorbg-foregound-color;
    }
    i {
        margin-top: 10px;
    }
}
//Footer style
#footer {
	background: $bg-footer;
	padding: 3em 0 3em 0;
    text-align: center;

    .icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
        font-size: 2em;
        line-height: 2em;
        padding: 0;
        margin: 0;
        text-align: center;

        a {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            vertical-align: baseline;

            &:hover { text-decoration: none; }
        }

        li {
            display: inline-block;
            padding: 0 0.75em 0 0;
        }
    }
    
    .copyright {
        clear: both;
        color: #999;
        font-size: 0.9em;
        line-height: 1em;
        margin: 2em 0 0 0;
        padding: 0;
        text-align: center;

        li {
            border-left: solid 1px #dddddd;
            display: inline-block;
            list-style: none;
            margin-left: 1em;
            padding-left: 1em;
            margin-bottom: 0;
            line-height: 16px;

            &:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

            .jgwab {
                display:inline-block;
                text-decoration:none;

                p {
                    color:#939393;

                    i {
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        margin-right: 2px;

                        width: 17px;
                        height: 17px;
                        overflow: hidden; 

                        background-size: 17px 17px;
                        background-image: url(https://cdn.imyzc.com/images/beian_icon.png);
                    }
                }
            }

        }

        p {
            margin-bottom: 0;
        }
    }
    .copyright-line {
        margin: 8px 0 0 0;
    }
    .copyright-cp {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
}
//Topic label
.topic {
	position: relative;
    padding-left: 50px;
    &:hover .topic-label{
        width: 13px;
        height: 13px;
        margin-top: -6px;
        left: 29px;
    }
}
.topic-label {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    position: absolute;
    top: 50%;
    left: 30px;
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border-radius: 50%;
    background: #a3a3a3;
}
.topic-sm {
	position: relative;
    padding-left: 30px;
    .topic-label { left: 10px; }
    &:hover .topic-label{
        width: 13px;
        height: 13px;
        margin-top: -6px;
        left: 9px;
    }
}

.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        float: left;
        list-style: none;
        padding: 0;
        margin: 0 0 0 3px;
    }
}

//clear float
.clearfix {
    display: block;
    clear: both;
}

//Small simple loading
.simple-loading {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid $highlight-color-more;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: inline-block;
} 
.simple-loading-center {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;

    .simple-loading-container {

        text-align: center;

        p {
            margin-top: 5px;
            color: #999;
            font-size: 14px;
        }
    }
}


//Image list
.image-list {

    position: relative;
    padding: 10px;

    .image-item {

        position: relative;
        display: inline-block;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        margin-right: 10px;
    
        @include dirty-shadow;

        .image-host {

            max-width: 100%;
            height: auto;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                transition: all 0.6s;
    
                &:hover {
                    transform: scale(1.4);
                }
            }
        }

        .image-box{

            padding: 10px 15px 15px 15px;

            label {
                vertical-align: middle;
                margin-bottom: 0;
            }

            a {
                margin-left: 7px;
                float: right;
                font-size: 16px;
            }
        }
    }
}
  
@-webkit-keyframes spin {
    0% {
     -webkit-transform: rotate(0deg);
    }
    100% {
     -webkit-transform: rotate(360deg);
    }
}   
@keyframes spin {
    0% {
     transform: rotate(0deg);
    }
    100% {
     transform: rotate(360deg);
    }
}

//Ugly span
.ugly{
	position: relative;
}
.ugly-span {
    position: absolute;
	transform: rotate(-35deg);
	width: 90px;
	height: 75px;
	background-image: url(/images/icons/ugly.png);
	z-index: 5;
}
.ugly-span-title-left {
    left: 1rem;
	top: 2.5rem;
	transform: rotate(-25deg);
}
.ugly-span-box-top {
	transform: rotate(15deg);
    right: 3rem;
	top: 1rem;
}

//half bolcks
.half {
	position: relative;
    padding: 10px 0;
    .half-bg {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        width: 100%;
        height: 50%;
    }
    .half-bg .image {
        z-index: 1;
    }
    .half-content{
        z-index: 1;
    }
}

.hello-vue{

    position: relative;
    text-align: center;

    span{

        display: inline-block;
        padding: .25em .4em;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        color: #41b883;
        font-size: 26px;
        margin-bottom: 0px;
        transition: all .5s ease-in-out;

        &:hover{
            margin-bottom: 50px;
        }
    }
}

//??
.stacked, .accordion-stack .card {
    @include prefix(transition, all 0.2s, webkit moz);
    @include prefix(transition-delay, 0s, webkit moz);
    position: relative;
    background: #fff;

    &::before{
        @include prefix(transition, all 0.2s, webkit moz);
        @include prefix(transition-delay, 0s, webkit moz);
        border-radius: 0.25rem;
        opacity: .75;
        content: "";
        position: absolute;
        left: 4px;
        right: 4px;
        bottom: -8px;
        display: block;
        height: 100%;
        background: #fff;
        border: 1px solid #e5e5e5;
        z-index: -1;
    }
}

.eyebrow {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
}

//Footer numbers
.number {
    text-align: center;
    span {
        font-size: 1.6rem;
        line-height: 1.7rem;
        text-transform: uppercase;
        color: #ffffff;
    }
    p { 
        margin: 0;
        font-size: 0.625rem;

        color: #ececec;
    }
}

//Revrse 180 degree
.revrse-180 {
    @include prefix(transform, rotate(180deg), webkit moz);
}

.transition-all {
    @include prefix(transition, all 0.2s, webkit moz);
}

//Fix for more wide tooltip
.tooltip-inner {
    max-width: 500px;
}

//Footer separated numbers
.separated {
    overflow: hidden;
    > *:not(:last-child) { 
        margin-bottom: 0 !important; 
        border-right: 1px solid #d9d9d9;
    }
}

/*Card bg icons*/
.icon-card{
	overflow: hidden;
    position: relative;
    
    .bg-icon {
        position: absolute;
        right: -1rem;
        bottom: -1.5rem;
        font-size: 10rem;
        color: rgba(0, 0, 0, 0.05);
    }
    .bg-icon-inner {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        font-size: 10rem;
        color: rgba(0, 0, 0, 0.05);
    }
    .bg-icon-sm {
        position: absolute;
        right: 0rem;
        bottom: -0.5rem;
        font-size: 3.5rem;
        color: rgba(0, 0, 0, 0.05);
    }
    .bg-icon-top-right {
        position: absolute;
        right: 1rem;
        top: -0.5rem;
        font-size: 10rem;
        color: rgba(0, 0, 0, 0.05);
    }
    .bg-icon-bottom-right {
        position: absolute;
        right: 0rem;
        bottom: -0.5rem;
        font-size: 10rem;
        color: rgba(0, 0, 0, 0.05);
    }
}

/*blog info area*/
.info-area {
    .info-head { margin-bottom: 40px; }
    .info-head-text { margin-bottom: 20px; }
    .info-thumb-host{ margin-bottom: 40px; }
    .info-thumb-top{ margin-top: 120px; }
    .info-thumb {
        overflow: hidden;
        display: inline-block;
        border-radius: 12px;

        @include prefix(transform, rotate(-3.5deg), webkit);
        @include dirty-shadow;
    }
    .info-left { z-index: 2;  }
    .info-content {
        @include dirty-shadow;

        position: relative;
        background: #fff;
        padding: 90px 20px 90px 70px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        @include prefix(transform, rotate(1.5deg), webkit);
    }
    .info-content:after {
        content: ""; 
        /*box-shadow: -13px 3px 20px 0px rgba(0, 0, 0, 0.05);*/
        position: absolute;
        right: 100%;
        top: 0;
        background: #fff;
        border-top-left-radius: 10px;

        @include size(70px,100%);
    }
}
.info-thumb-spx{
	padding-bottom: 40px;
}

.shadow-common{
    @include common-shadow;
}
.shadow-dirty{
    @include dirty-shadow;
}
.shadow-text{
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.6);
}

/*skew 页面标题的特效*/
.skew-title {
	text-align: center;
    white-space: nowrap;

    span {
        position: relative;
        @include size(40px, 50px);
        margin: 0;
        z-index: 2;
        text-align: center;
        color: #fff;
        font: {
            family: 'roboto condensed';
            weight: 700;
            size: 35.714285714285715px;
        }
        line-height: 50px;

        @include prefix(transform, skewY(-15deg), webkit);
        @include prefix(transform-origin, 0 100%, webkit);

        transition: all 0.2s;
        cursor: default;
        display: inline-block;

        &:nth-child(even) {
            background-color: #144c6e;
            @include prefix(transform, skewY(15deg), webkit);
            @include prefix(transform-origin, 100% 100%, webkit);
            color: #d9d9d9;
        }
        &:nth-child(even):after {
            background-color: #144c6e;
        }
        &:nth-child(even):before {
            @include prefix(transform-origin, 100% 0, webkit);
            @include prefix(transform, skewY(-15deg), webkit);
        }

        &:before {
            background-color: rgba(0,0,0,0.1);
            @include prefix(transform, skewY(15deg), webkit);
            @include prefix(transform-origin, 0 0, webkit);
            transform-origin: 0 0;
            display: block;
            top: 0;
            left: 0;
            @include size(40px, 50px);
            position: absolute;
            content: ' ';
            z-index: -1;
            transition: all 0.2s;
        }
        &:after {
            display: block;
            top: 0;
            left: 0;
            @include size(40px, 50px);
            position: absolute;
            background-color: #185a81;
            content: ' ';
            z-index: -1;
            transition: all 0.2s;
        }

        &.alt{
            &:nth-child(even):after {
                background-color: #c44927;
            }
            &:after {
                background-color: #913a22;
            }
            &.flat:after {
                background-color: #d14e2a;
            }
        }
        &.flat{
            @include prefix(transform, skewY(0), webkit);
            color: #fff;
            &:before {
                @include prefix(transform, skewY(0), webkit);
            }
            &:after {
                background-color: #1f7db8;
            }
        }
    }

    &.left { text-align: right; }
    &.right { text-align: left; }
}
/* Gp item */
.small-dropdowm-item{

    position: relative;

    i{
        font-size: 26px;
        height: 40px;
        position: absolute;
        left: 15px;
        top: 5px;
        color: $highlight-color;
        margin-right: 15px!important;
    }
    a{
        display: block;
        color: #000;
        font-weight: bold;
        overflow: hidden;
        word-break: break-all;
        padding-left: 35px;
        width: 100%;
        transition: none;

        span { 
            font-size: 14px;
            color: #939393; 

            &:hover{
                color: #fff;   
            }
        }
    }

    &:hover, &.active {
        i, a, a span{ 
            color: #fff; 
        }
    }
}
/* Fish editor */
.fish-editor {

    position: relative;
    min-height: 37px;
    border: 1px solid #ddd;

    &.fullscreen{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2000;
        background-color: #fff;
    }

    .fish-editor-toolbar {

        width: 100%;
        min-height: 37px;
        background: #fff;
        position: relative;
        display: block;
        border-bottom: 1px solid #ddd;

        .fish-editor-menu {

            padding: 0 8px;
            min-height: 35px;
            margin-bottom: 0;

            @include prefix(user-select, none, webkit moz ms);

            > li{
                margin: 0;
                padding: 5px 0px;
                display: inline-block;
                position: relative;

                + li > a {  margin-left: 3px; }

                > a {
                    outline: 0;
                    color: #666;
                    display: inline-block;
                    min-width: 24px;
                    font-size: 16px;
                    text-decoration: none;
                    text-align: center;

                    &:hover, &.active {
                        border: 1px solid #ddd;
                        background: #eee;
                    }

                    @include prefix(border-radius, 2px, webkit moz ms);
                    @include prefix(transition, all 300ms ease-out, webkit moz ms);
    
                    border-radius: 2px;
                    border: 1px solid #fff;

                    > .fa {
                        text-align: center;
                        display: block;
                    }
                }
            }

            
        }
    }

    .fish-editor-area{

        position: relative;
        min-height: 500px;

        .fish-editor-preview-area{
            padding: 15px;
            width: 50%;
            position: absolute;
            left: 50%;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: scroll;
            border-left: 1px solid #ddd;

            &.fullarea{
                left: 0;
                width: 100%;
            }

            @include pc-fix-scrollbar();
        }
        .fish-editor-code-area {
            resize: none;
            width: 50%;
            border: none;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            overflow: scroll;

            &.fullarea{
                width: 100%;
            }

            @include pc-fix-scrollbar();

            .CodeMirror {
                z-index: 10;
                font-size: 14px;
                font-family: "YaHei Consolas Hybrid",Consolas,"微软雅黑","Meiryo UI","Malgun Gothic","Segoe UI","Trebuchet MS",Helvetica,Monaco,courier,monospace;
                line-height: 1.6;
                -webkit-overflow-scrolling: touch;

                pre {
                    font-size: 14px;
                    padding: 0 12px
                }

                .CodeMirror-linenumbers {
                    padding: 0 5px
                }
                .CodeMirror-selected {
                    background: #70B7FF;
                }
                .CodeMirror-focused {
                    background: #70B7FF;

                    .cm-matchhighlight {
                        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
                        background-position: bottom;
                        background-repeat: repeat-x
                    }
                }

                .CodeMirror-empty.CodeMirror-focused {
                    outline: 0
                }
                pre.CodeMirror-placeholder {
                    color: #999
                }

                .CodeMirror-vscrollbar, .CodeMirror-hscrollbar{
                    @include pc-fix-scrollbar();
                }

                .CodeMirror-sizer{
                    border-right-width: 5px!important;
                }
             }
        }

        @media (max-width: 768px) {
            min-height: 300px;

            .fish-editor-preview-area{
                width: 100%;
                height: 50%;
                top: 50%;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .fish-editor-code-area {
                width: 100%;
                height: 50%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 50%;
            }
        }
    }
}
/*Toast*/
.toast-overlay-wrapper{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2001;

    .toast-alert {


        position: absolute;
        display: inline-block;

        @include prefix(transition, all 0.2s, webkit moz);
        @include prefix(animation, swal2-show .3s, webkit);

        @media (max-width: 425px) {
            max-width: 95%;
        }

        max-width: 75%;
        padding: 12px;
        background-color: #fff;
        border-color: #fff;
        border-radius: 3px; 

        @include prefix(box-shadow, 0 2px 4px 0 rgba(0,0,0,.12), webkit);

        z-index: 2002;
        border-style: solid;

        .toast-icon {
            float: left;
            line-height: 26px;
            font-size: 26px;
            vertical-align: middle;
        }
        .toast-text {
            display: inline-block;
            padding: 0 33px 0 16px;
            font-size: 16px;
            line-height: 16px;
            vertical-align: middle;
        }
        .toast-close {

            position: absolute;
            top: 15px;
            right: 15px;
            display: inline-block;
            vertical-align: middle;

            
            
            @include size(15px, 15px);

            background-size: 15px 15px;
            background-repeat: no-repeat;
            background-image: url(/assets/images/icon/ico-close.svg)
        }
    }
}





/* Anchor place left on bigger screen */
.anchorjs-link {
    font-size: 130%;
}
@media all and (min-width: 800px) { 
    .anchorjs-link { 
        position: absolute;
        left: -1em;
        margin-top: -0.25em;
        font-size: 150%;
    }
}

@media (max-width: 425px) {
    /*skew fix in mobile*/
	.skew-title {
        span {
            &:before, &:after { @include size(30px, 45px); }
		    @include size(30px, 45px);
            font-size: 26px;
        }
        .left,.right { text-align: center; }
	}
}
@media (max-width: 768px) {
	.more { 
        height: 6em;
        &.sw {
            top: 70px;
            bottom: 0px;
        }
    }
    
    .info-area {  
        .info-thumb {
            @include no-shadow;
            @include prefix(transform, rotate(0), webkit);
        }
        .info-content {
            @include no-shadow;
            @include prefix(transform, rotate(0), webkit);
        }
    }
}