<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>梦欤的博客</title>
  <link rel="shortcut icon" href="/favicon.ico">
  
  <meta name="keywords" content="梦欤的博客,梦欤的小站,梦欤,梦欤的随手记录册,YuZeCheng,俞则成">
  <meta name="description" content="梦欤的个人小站-一只不太炫酷的程序猿的学习分享博客，分享IT技术，一起学习成长！">
  <meta name="author" content="梦欤">
  <link rel="archives" href="/archives/">
  <link rel="month" href="/archives/month">
  <link rel="about" href="/archives/post/about">
</head>

<body>
    <div>梦欤的个人小站-一只不太炫酷的程序猿的学习分享博客，分享IT技术，一起学习成长！</div>
    <a href="/archives/">文章</a>
    <a href="/archives/month">归档</a>
    <a href="/archives/post/about">关于</a>
</body>

</html>