<div class="container" id="dashboard_content_base">
    <div class="row justify-content-start">
        <div class="col">
            <div v-if="currentUser || !userInfoLoaded" class="box">
                <ul class="nav nav-tabs" id="marchives-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#marchives-tab-tags" role="tab"
                            aria-controls="marchives-tab-tags" aria-selected="true">文章标签</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#marchives-tab-classes" role="tab"
                            aria-controls="marchives-tab-classes" aria-selected="false">文章分类</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="marchives-tab-tags">

                        <div class="tags mt-3" v-if="contentTags && !tagsLoading">
                            <div v-for="tag in contentTags" class="tag-mgr-item"
                                :style="'background-color:#' + tag.color">
                                {{ tag.name }}
                                <a href="javascript:;" v-on:click="changeTag(tag.id)"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:;" v-on:click="deleteTag(tag.id)"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div v-else-if="tagsLoading" class="simple-loading-center">
                            <div class="simple-loading-container">
                                <span class="simple-loading"></span>
                                <p>拼命加载中</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success mt-3" v-on:click="addTag()"><i
                                class="fa fa-plus"></i>
                            添加标签</button>

                    </div>
                    <div class="tab-pane fade show" role="tabpanel" id="marchives-tab-classes">

                        <common-table ref="tableClasses" class="mt-3" v-bind:columns="tableClassesColumns"
                            v-bind:items="tableClassesDatas" v-bind:show-check-boxes="true"
                            v-bind:loaded-status="tableClassesLoadStatus" v-bind:null-text="'当前列表没有项目'"
                            v-on:item-click="tableClassesItemClick"
                            v-on:item-customer-click="tableClassesCustomItemClick" v-on:retry-load="loadClasses(true)">
                            <template slot="marchives-slot" slot-scope="itemData">
                                <button type="button" class="btn btn-primary"
                                    v-on:click="tableClassesCustomItemClick('edit', itemData.item)">编辑</button>
                                <button type="button" class="btn btn-danger"
                                    v-on:click="tableClassesCustomItemClick('del', itemData.item)">删除</button>
                            </template>
                        </common-table>
                        <common-pagination ref="tablePaginationAll" v-bind:current-page="tableClassesPageCurrent"
                            v-bind:all-page="tableClassesPageAll" v-on:item-click="tableClassesPagerClick"
                            v-on:page-size-changed="tableClassesPageSizeChanged">
                            <template slot="left-slot">
                                <div class="my-1 mr-3"><span class="mr-2">选中项</span>
                                    <button type="button" class="btn btn-danger"
                                        v-on:click="tableClassesCustomItemClick('del-all')">删除</button>
                                    <button type="button" class="btn btn-success" v-on:click="addClass()"><i
                                            class="fa fa-plus"></i> 添加分类</button>
                                </div>

                            </template>
                        </common-pagination>

                    </div>
                </div>
            </div><div v-else-if="userInfoLoaded" class="box">
                <div class="container" style="height:100%">
                    <div
                        class="box full text-center text-danger d-flex justify-content-center align-items-center flex-column">
                        <i class=" fa fa-times-circle-o" aria-hidden="true" style="font-size: 3.5em"></i>
                        <p class="text-secondary mt-2"><span class="h4">403</span><br /> 您无权查看该页面</p>
                        <button type="button" class="btn btn-primary">返回首页</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addTagDlg" tabindex="-1" role="dialog" aria-label="addTagDlgTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="h5 modal-title" id="addTagDlgTitle">{{ currentIsAddTag ? '添加标签' : '修改标签' }}</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addtag_form" method="post">
                            <div class="form-group">
                                <label for="addtag_name">标签名称：</label>
                                <input type="text"
                                    :class="'form-control' + ((!currentAddTagName || currentAddTagName == '') ? ' is-invalid' : ' ')"
                                    id="addtag_name" name="addtag_name" v-model="currentAddTagName">
                                <div class="invalid-feedback">请输入标签名称</div>
                            </div>
                            <div class="form-group">
                                <label for="addtag_color">标签颜色：（不填写则为默认，不加#）</label><span class='badge badge-pill'
                                    id="addtag_color_show">#</span>
                                <input type="text" :style="'background-color:#' + currentAddTagColor"
                                    class="form-control" id="addtag_color" name="addtag_color"
                                    v-model="currentAddTagColor">
                            </div>
                            <div class="form-group">
                                <label for="addtag_selectColors">使用预定义颜色</label>
                                <select class="form-control" id="addtag_selectColors"
                                    v-on:change="addTagColorChanged()">
                                    <option selected>选择</option>
                                    <option v-for="color in addTagColors" :style="'background-color:#' + color"
                                        :value="color">{{ color }}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button v-if="currentIsAddTag" type="button" class="btn btn-primary"
                            v-on:click="addTag(true)">添加</button>
                        <button v-else type="button" class="btn btn-primary"
                            v-on:click="changeTag(currentAddTagId, true)">更改</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addClassDlg" tabindex="-1" role="dialog" aria-label="addClassDlgTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="h5 modal-title" id="addClassDlgTitle">{{ currentIsAddClass ? '添加分类' : '修改分类' }}</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addtag_form" method="post">
                            <div class="form-group">
                                <label for="addtag_name">分类名称：</label>
                                <input type="text"
                                    :class="'form-control' + ((!currentAddClassTitle || currentAddClassTitle == '') ? ' is-invalid' : ' ')"
                                    id="addtag_name" name="addtag_name" v-model="currentAddClassTitle">
                                <div class="invalid-feedback">请输入分类名名称</div>
                            </div>
                            <div class="form-group">
                                <label for="addtag_urlname">分类URL名称：
                                    <a href="javascript:;" class="text-primary ml-2" v-on:click="genClassUrlName()"
                                        title="从标题生成分类URL名字"><i class="fa fa-angle-double-right"></i></a>
                                </label>
                                <input type="text"
                                    :class="'form-control' + ((!currentAddClassUrlName || currentAddClassUrlName == '') ? ' is-invalid' : ' ')"
                                    id="addtag_urlname" name="addtag_urlname" v-model="currentAddClassUrlName">
                                <div class="invalid-feedback">请输入分类名URL名称</div>
                            </div>
                            <div class="form-group">
                                <label for="addtag_text">分类说明文字：</label>
                                <input type="text" class="form-control" id="addtag_text" name="addtag_text"
                                    v-model="currentAddClassPreviewText">
                            </div>
                            <div class="form-group">
                                <label for="addtag_text">分类预览小图地址：</label>
                                <input type="text" class="form-control" id="addtag_text" name="addtag_text"
                                    v-model="currentAddClassPreviewImage">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button v-if="currentIsAddClass" type="button" class="btn btn-primary"
                            v-on:click="addClass(true)">添加</button>
                        <button v-else type="button" class="btn btn-primary"
                            v-on:click="changeClass(currentAddClassId, true)">更改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-footer"><span>© 2019 Theme designed by DreamFish</span>
    </div>
</div>