<div class="container" id="dashboard_content_base">
    <div class="row justify-content-start">
        <div class="col">
            <div v-if="archiveLoadStatus=='loaded'" class="box">
                <ul class="nav nav-tabs" id="marchives-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#marchive-tab-edit" role="tab"
                            aria-controls="marchives-tab-edit" aria-selected="true">编辑文章</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#marchive-tab-info" role="tab"
                            aria-controls="marchives-tab-info" aria-selected="false">文章基本信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#marchive-tab-classfication"
                            role="tab" aria-controls="marchives-tab-classfication" aria-selected="false"
                            v-on:click="loadClassfication()">文章分类和标签</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#marchive-tab-comments" role="tab"
                            aria-controls="marchives-tab-comments" aria-selected="false"
                            v-on:click="loadComments()">文章评论</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#marchive-tab-images" role="tab"
                            aria-controls="marchives-tab-images" aria-selected="false" v-on:click="loadMediaCenter()">文章图片</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="marchive-tab-edit">
                        <div class="position-relative">

                            <!--Editor area-->
                            <div v-if="archiveType=='markdown'" id="marchive-editormd" class="mt-3">
                                <textarea style="display:none;" v-model="archiveContent"></textarea>
                            </div>
                            <fish-editor v-else-if="archiveType=='html'" ref="fishHtmlEditor"
                                v-bind:height="getEditorHeight" v-bind:showed="archiveType=='html'"
                                v-bind:content="archiveContent" class="mt-3" v-on:content-changed="contentChanged">
                            </fish-editor><textarea v-else class="form-control mt-3" rows="20" id="marchive-edit-txt"
                                v-model="archiveContent" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="marchive-tab-info">
                        <form class="mt-3" v-if="archiveObject">
                            <div class="from-group">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="archive-urlname">文章标题</label>
                                        <input type="text" class="form-control" id="archive-urlname"
                                            v-model="archiveObject.title">
                                    </div>
                                    <div class="form-group from-inline col-md-3">
                                        <label for="archive-urlname"
                                            title="文章URL名字，跟在文章URL后面的文章名，例如：../post/test-post/ 其中的 test-post 您可以自定义">
                                            文章URL名字
                                            <a href="javascript:;" class="text-primary ml-2"
                                                v-on:click="genPostUrlName()" title="从标题生成文章URL名字"><i
                                                    class="fa fa-angle-double-right"></i></a>
                                        </label>
                                        <input type="text" class="form-control" id="archive-urlname"
                                            v-model="archiveObject.urlName">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="archive-prefix">文章前缀（目前仅仅显示用）</label>
                                        <select id="archive-prefix" class="form-control"
                                            v-model="archiveObject.postPrefix">
                                            <option value="0">(无)</option>
                                            <option v-for="index of 4" :value="index" v-html="getPostPrefix(index)">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="archive-preview-text">文章简介文字</label>
                                    <input type="text" class="form-control" id="archive-preview-text"
                                        v-model="archiveObject.previewText" placeholder="文章的简介说明文字">
                                </div>
                                <div class="form-group">
                                    <label for="archive-keywords">文章关键词</label>
                                    <input type="text" class="form-control" id="archive-keywords"
                                        v-model="archiveObject.keywords" placeholder="关键词，多个用逗号(,)分隔">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="archive-headimg">章头背景图片</label>
                                        <input type="text" class="form-control" id="archive-headimg"
                                            v-model="archiveObject.headimg">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" class="custom-control-input" id="archive-headimgMask"
                                                v-model="archiveObject.headimgMask">
                                            <label class="custom-control-label"
                                                for="archive-headimgMask">章头背景图片遮罩</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="archive-previewImage">文章预览小图</label>
                                        <input type="text" class="form-control" id="archive-previewImage"
                                            v-model="archiveObject.previewImage">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="archive-viewCount">重写查看数</label>
                                        <input type="text" class="form-control" id="archive-viewCount"
                                            v-model="archiveObject.viewCount">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="archive-commentCount">重写评论数</label>
                                        <input type="text" class="form-control" id="archive-commentCount"
                                            v-model="archiveObject.commentCount">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" class="custom-control-input"
                                                id="archive-enableComment" v-model="archiveObject.enableComment">
                                            <label class="custom-control-label" for="archive-enableComment">启用评论</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--File type dropdown-->
                                    <div class="dropdown">
                                        文章格式： <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="marchive-file-type" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{ archiveType }} </button>
                                        <ul class="dropdown-menu" aria-labelledby="marchive-file-type"
                                            style="width:340px">
                                            <li :class="'dropdown-item small-dropdowm-item' + (archiveType=='markdown'?' active':'')"
                                                v-on:click="setArchiveType('markdown')">
                                                <i class="fa fa-pencil"></i>
                                                <a href="#">
                                                    Markdown 格式 (markdown)
                                                    <br><span>完全的 Markdown 格式文章</span>
                                                </a>
                                            </li>
                                            <li :class="'dropdown-item small-dropdowm-item' + (archiveType=='html'?' active':'')"
                                                v-on:click="setArchiveType('html')">
                                                <i class="fa fa-code"></i>
                                                <a href="#">
                                                    Html 格式 (html)
                                                    <br><span>基于 Html 格式，文章将会原样显示在视图上</span>
                                                </a>
                                            </li>
                                            <li :class="'dropdown-item small-dropdowm-item' + (archiveType=='txt'?' active':'')"
                                                v-on:click="setArchiveType('txt')">
                                                <i class="fa fa-font"></i>
                                                <a href="#">
                                                    纯文本格式 (txt)
                                                    <br><span>文章不带任何格式</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="from-group">
                                    <div class="custom-control custom-checkbox mt-1">
                                        <input type="checkbox" class="custom-control-input"
                                            id="archive-add-last-modify-date" v-model="archiveShowLastModifyDate">
                                        <label class="custom-control-label"
                                            for="archive-add-last-modify-date">自动添加修改日期</label>
                                    </div>
                                </div>
                                <div class="form-group form-inline">

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="marchive-tab-classfication">
                        <form class="mt-3" v-if="archiveObject">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="archive-class">文章所属分类</label>
                                    <select id="archive-class" class="form-control" v-model="archiveClass">
                                        <option v-for="cls in contentClasses" :value="cls.urlName + ':' + cls.title">
                                            {{ cls.title }}
                                        </option>
                                    </select>

                                </div>
                                <div class="form-group col-md-2 d-flex justify-content-start align-items-end">
                                    <button v-if="classesLoading" class="btn btn-primary mr-2" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" style="vertical-align: middle;"
                                            role="status" aria-hidden="true"></span>
                                        <span class="sr-only">Loading...</span>
                                    </button>
                                    <button v-else type="button" class="btn btn-primary mr-2" title="刷新列表"
                                        v-on:click="loadClasses(false)"><i class="fa fa-refresh"></i></i></button>
                                    <button type="button" class="btn btn-primary mr-2"
                                        v-on:click="gotoManageTags()">管理分类</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>文章标签<a href="javascript:;" class="text-primary ml-2" v-on:click="clearTag()"
                                        title="清空文章上的所有标签"><i class="fa fa-trash"></i></a></label>
                                <div class="tags" v-if="archiveTags">
                                    <div v-for="tag in archiveTags" class="tag-mgr-item"
                                        :style="'background-color:#' + tag.color">
                                        {{ tag.name }}
                                        <a href="javascript:;" v-on:click="removeTag(tag.id)"><i
                                                class="fa fa-times"></i></a>
                                    </div>
                                </div>

                                <div class="mt-3 p-3 position-relative" id="archive-add-tag"
                                    style="display:none;border:1px solid #aaa">
                                    <label class="text-secondary">
                                        点击一个标签添加
                                        <a href="javascript:;" class="text-primary ml-2" title="刷新列表"
                                            v-on:click="loadTags(false)"><i class="fa fa-refresh"></i></i></a>
                                    </label>
                                    <div class="tags" v-if="contentTags && !tagsLoading">
                                        <div v-for="tag in contentTags" class="tag-mgr-item clickable"
                                            :style="'background-color:#' + tag.color" v-on:click="addTag(tag.id)">
                                            {{ tag.name }} </div>
                                    </div>
                                    <div v-else-if="tagsLoading" class="simple-loading-center">
                                        <div class="simple-loading-container">
                                            <span class="simple-loading"></span>
                                            <p>拼命加载中</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="mt-3">
                                    <button type="button" class="btn btn-primary mr-2"
                                        onclick="$('#archive-add-tag').slideToggle()">添加标签</button>
                                    <button type="button" class="btn btn-primary mr-2"
                                        v-on:click="gotoManageClasses()">管理标签</button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="marchive-tab-comments">

                        <common-table ref="tableCommentAll" v-bind:columns="tableCommentAllColumns"
                            v-bind:items="tableCommentAllDatas" v-bind:show-check-boxes="true"
                            v-bind:loaded-status="tableCommentAllLoadStatus" v-bind:null-text="'当前文章还没有评论'"
                            v-on:retry-load="loadComments()">
                            <template slot="marchives-slot" slot-scope="itemData">
                                <button type="button" class="btn btn-danger" title="删除"
                                    v-on:click="tableCommentAllCustomItemClick('del', itemData.item)"><i
                                        class="fa fa-trash"></i></button>
                            </template>
                        </common-table>
                        <common-pagination ref="tablePaginationCommentAll"
                            v-bind:current-page="tableCommentAllPageCurrent" v-bind:all-page="tableCommentAllPageAll"
                            v-on:item-click="tableCommentAllPagerClick"
                            v-on:page-size-changed="tableCommentAllPageSizeChanged">
                            <template slot="left-slot">
                                <div class="my-1 mr-3"><span class="mr-2">选中项</span> <button type="button"
                                        class="btn btn-danger"
                                        v-on:click="tableCommentAllCustomItemClick('del-all')">删除</button></div>
                            </template>
                        </common-pagination>

                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="marchive-tab-images">
                        <div v-if="isNew" class="text-center text-secondary mt-3 mb-2">
                            <p>请先保存文章，然后才能使用媒体库功能</p>
                        </div><div v-else-if="mediaCenterLoadStatus=='loaded'">
                            <common-image-list ref="mediaCenterList"
                                v-bind:items="mediaCenterItems" 
                                v-bind:loaded-status="mediaCenterLoadStatus"
                                v-bind:null-text="'当前文章还没有图片资源，点击下方按钮添加'"
                                v-bind:image-width="'250px'"
                                v-on:add-click="mediaListAdd"
                                v-on:delete-click="mediaListDelete"
                                v-on:show-click="mediaListShowBig"
                                v-on:edit-click="mediaListEditTitle"
                                v-on:copylink-click="mediaListCopyLink">

                            </common-image-list>
                            <common-pagination ref="tablePaginationMediaCenterList" v-bind:current-page="mediaCenterPageCurrent"
                                v-bind:all-page="mediaCenterPageAll" v-on:item-click="mediaCenterListPagerClick"
                                v-on:page-size-changed="mediaCenterListPageSizeChanged">
                            </common-pagination>

                            <div class="modal fade" id="editMediaImageDlg" tabindex="-1" role="dialog" aria-label="editMediaImageDlgTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="h5 modal-title" id="editMediaImageDlgTitle">编辑图片标题</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form v-if="mediaCenterCurrentEditItem">
                                                <div class="form-group">
                                                    <label for="medial_title">图片标题：</label>
                                                    <input type="text" class="form-control" id="medial_title" name="medial_title" v-model="mediaCenterCurrentEditItem.title">
                                                    <div class="invalid-feedback">图片标题</div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="mediaListEditTitleSave()">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button v-if="" type="button" class="btn btn-success mr-2"
                                v-on:click="uploadImage()"><i class="fa fa-plus"></i> 添加图片</button>
                            <input type="text" name="copyText" id="copyText" aria-hidden="true" style="opacity:0;">
                            <input type="file" name="uploadImage" id="uploadImage" accept="image/jpg, image/jpeg" aria-hidden="true" style="display: none;" v-on:change="changeUploadImage(true)">
                        </div><div v-else-if="mediaCenterLoadStatus=='failed'">
                            <div class="text-center mt-3 mb-3"><i class="fa fa-times mr-3 text-danger"></i>加载失败</div>
                        </div>
                    </div>
                </div>
                <form class="form-inline mt-3 d-flex justify-content-end">
                    <button v-if="getArchiveCanPublish()" type="button" class="btn btn-success mr-2"
                        v-on:click="publish()"><i class="fa fa-paper-plane-o "></i> 发布文章</button>
                    <button v-if="getArchiveCanUnPublish()" type="button" class="btn btn-success mr-2"
                        v-on:click="unPublish()"><i class="fa fa-undo"></i> 撤回文章</button>
                    <button v-if="getArchiveCanPublish()" type="button" class="btn btn-success mr-2"
                        v-on:click="saveChange('draft')"><i class="fa fa-pencil-square-o"></i> 保存到草稿</button>
                    <button v-else type="button" class="btn btn-primary mr-2" v-on:click="saveChange()"><i
                            class="fa fa-floppy-o"></i> 保存更改</button>
                    <button v-if="getArchiveCanUnChange()" type="button" class="btn btn-danger"
                        v-on:click="cancelChange()">放弃更改</button>
                    <button v-else type="button" class="btn btn-danger" disabled>放弃更改</button>
                </form>
            </div>
            <div v-else-if="archiveLoadStatus=='loading'" class="box">
                <div class="simple-loading-center">
                    <div class="simple-loading-container">
                        <span class="simple-loading"></span>
                        <p>拼命加载中</p>
                    </div>
                </div>
            </div>
            <div v-else class="box full">
                <div
                    class="box full text-center text-danger d-flex justify-content-center align-items-center flex-column">
                    <i class=" fa fa-times-circle-o" aria-hidden="true" style="font-size: 3.5em"></i>
                    <p class="text-secondary mt-2"><span class="h4">加载失败 (T_T)</span><br /> {{ archiveLoadError }}</p>
                    <button type="button" class="btn btn-primary" onclick="location.reload(true)">重试</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-footer"><span>© 2019 Theme designed by DreamFish</span></div>