<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="梦想小鱼的博客,文章标签,ALONE SPACE,DreamFish,梦想小鱼的个人分享博客,梦想小鱼的个人分享平台,梦想小鱼">
    <meta name="description" content="梦想小鱼的个人分享博客-查看文章-一只喜欢炫酷的程序猿的学习分享博客，分享IT技术，一起学习成长！">
    <title>查看文章 - ALONE SPACE</title>
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="/assets/css/loader.min.css">
    <script type="text/javascript" src="/assets/js/config.js"></script>
    <script type="text/javascript" src="/assets/js/yzc-blog.min.js"></script>
    <!--Debug only
    <script type="text/javascript" src="/assets/libs/vue.js/vue.js"></script>-->
    <script type="text/javascript">
        setLoaderCSS(new Array(
            "/assets/libs/bootstrap/css/bootstrap.min.css",
            "/assets/libs/font-awesome/css/font-awesome.min.css",
            "yzc-blog.min.css",
            "/assets/libs/highlightjs/css/vs2015.css",
            "/assets/libs/sweetalert2/css/sweetalert2.min.css"));
        setLoaderJS(new Array(
            "/assets/libs/popper/popper.min.js",
            "/assets/libs/jquery/jquery.min.js",
            "/assets/libs/bootstrap/js/bootstrap.min.js", 
            "/assets/libs/vue.js/vue.min.js",
            "utils.min.js", "string-hlp.min.js", "blog-view.min.js", "blog-comment.min.js",
            "/assets/libs/scrollReveal/scrollReveal.js",
            "/assets/libs/anchorjs/anchor.min.js",
            "/assets/libs/compress/md5.min.js",
            "/assets/libs/compress/base64.min.js",
            "/assets/libs/highlightjs/js/highlight.pack.js",
            "/assets/libs/showdown/showdown.min.js",
            "/assets/libs/superfish/superfish.min.js",
            "/assets/libs/onePageNav/jquery.nav.min.js",
            "/assets/libs/BigPicture/BigPicture.min.js",
            "/assets/libs/hoverIntent/hoverIntent.js",
            "/assets/libs/sweetalert2/js/sweetalert2.min.js"));
    </script>
    <!--Baidu tongji-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b817302b643ad43baed860443308c8d1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="not-load">

    <!--Main vue-->
    <div id="main">

        <!--Header-->
        <header id="header-small">
            <div class="container main-menu main-menu-white" style="padding-top: 40px; padding-bottom: 30px;">
                <div class="row align-items-center justify-content-between d-flex">
                    <div class="nav-header-text">
                        <span class="logo"></span>
                        <a href="/">Alone space</a>
                    </div>
                    <button type="button" id="mobile-nav-toggle">
                        <i class="fa fa-bars"></i>
                    </button>
                    <nav id="nav-menu-container" class="nav-menu-container">
                        <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: auto;">
                            <li><a href="https://www.imyzc.com">主页</a></li>
                            <li><a href="https://www.imyzc.com/storehouse">我的仓库</a></li>
                            <li><a href="/">博客主页</a></li>
                            <li><a href="/archives/">所有文章</a></li>
                            <li class="menu-active"><a>浏览文章</a></li>
                            <li><a href="https://www.imyzc.com/about.html">关于我</a></li>
                        </ul>
                    </nav><!-- #nav-menu-container -->
                </div>
            </div>
            <div v-if="isLoaded && postContent.headimg" class="bg-img"
                :style="'background-image:url('+getImageUrl(postContent.headimg)+')'">
                <div v-if="postContent.headimgMask" class="overlay-white"></div>
            </div>
            <div class="blog-wrapper">
                <div class="container">
                    <div class="row justify-content-center">
                        <!-- blog content 博客头信息 -->
                        <div class="col-lg-10 col-md-10">
                            <div v-if="isLoaded" class="blog-content">

                                <div v-if="postTags" class="tags">
                                    <span v-html="getPostPrefix(postContent.postPrefix)"></span>
                                    <a v-for="tag in postTags" :class="(postContent.headimg ? 'black ' : 'light ') + 'tag'" v-on:click="goViewTag(tag.id)" href="#"
                                        target="_blank">{{ tag.name }}</a>
                                </div>
                                <h1 :class="postContent.headimg ? 'black-text' : 'light-text'">{{ postContent.title }}
                                </h1>
                                <p :class="postContent.headimg ? 'black-text' : 'light-text'">{{ postContent.postDate }}
                                    <i class="fa fa-eye ml-3 mr-2"></i>{{ postContent.viewCount }} 浏览 <i class="fa fa-user ml-3 mr-2"></i>{{ postContent.author }}</p>
                            </div>
                        </div>
                        <!-- /blog content -->
                    </div>
                </div>
            </div>
        </header>

        <!--Main-->
        <article v-if="isLoaded" class="sm-padding bg-grey-no-border pb-0">

            <div class="container">
                <!--Post area-->
                <div class="row justify-content-end">
                    <!-- Post Container -->
                    <div class="col-lg-8 col-md-10 post-container">
                        <div v-if="postContentWithHtml!=null" v-html="postContentWithHtml"
                            class="blog-content-result post-container" id="post_content">

                        </div>
                    </div>
                    <!-- Post Catalog -->
                    <div class="col-lg-3 col-sm-12 sidebar-container catalog-container ml-3">
                        <div class="side-catalog-switch" v-on:click="switchCatalog" id="side_catalog_on_toggle">
                            目录
                        </div>
                        <div class="side-catalog" id="side_catalog">
                            <p id="catalog-title">
                                <a class="side-catalog-close" id="side_catalog_close_toggle" v-on:click="switchCatalog" href="javascript:void(0)"><i class="fa fa-times"></i></a><a class="catalog-toggle-title">目录</a>
                            </p>
                            <ul class="catalog-body" id="catalog_content">

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Post Up down Navigator -->
                <div class="row justify-content-end mt-3" id="post_content_end">
                    <div class="col-lg-4 col-md-5">
                        <div :class="'flat-btn flat-btn-black btn-block post-page-nav left' + (hasPrvPost? '':' disabled')">
                            <a :href="getPrevPostUrl()">
                                <i class="fa fa-arrow-left"></i>上一篇文章
                                <p id="post-page-nav-prv">{{ prvPostTitle }}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <div :class="'flat-btn flat-btn-black btn-block post-page-nav right' + (hasNextPost? '':' disabled')">
                            <a :href="getNextPostUrl()">
                                下一篇文章<i class="fa fa-arrow-right"></i>
                                <p id="post-page-nav-next">{{ nextPostTitle }}</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 ml-3"></div>
                </div>
            </div>

        </article>
        <!--Main Loading -->
        <div v-if="isLoading" style="height:366px"
            class="bg-grey-no-border d-flex justify-content-center align-items-center">
            <div class="text-center"><span class="simple-loading"></span>
                <p class="text-secondary mt-2">正在加载文章</p>
            </div>
        </div>
        <!--Main Error -->
        <div v-if="loadFailed" style="height:366px" class="bg-white d-flex justify-content-center align-items-center">
            <div class="text-center">
                <img class="img-responsive" src="/images/img_500.jpg" style="max-width: 300px;" />
                <p class="text-secondary mt-3">加载失败<br />{{ laodErr }}</p>
            </div>
        </div>

        <!--Comments-->
        <article v-if="postCanComment" id="comment" class="sm-padding bg-grey-no-border pb-0">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <commenter ref="postComment" v-if="isLoaded" v-bind:current-post-id="currentPostId" v-bind:current-post-id-or-name="currentPostIdOrName"></commenter>
                    </div>
                    <div class="col-lg-3 ml-3"></div>
                </div>
            </div>

            <div class="modal fade" id="comment-tip-dlg" tabindex="-1" role="dialog" aria-label="comment-tip-dlg-title"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="h5 modal-title" id="comment-tip-dlg-title">提示</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="comment-tip-text">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article v-else-if="isLoaded" id="comment" class="sm-padding bg-grey-no-border pb-0">
        
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="alert alert-light text-center" style="background-color:#f8f9fa;font-size:18px;" role="alert">
                            评论功能已经关闭<br>
                            <small>如果您有非常重要的信息需要评论，请联系管理员</small>
                        </div>
                    </div>
                    <div class="col-lg-3 ml-3"></div>
                </div>
            </div>
        </article>

        <!--Tip-->
        <div v-if="isLoaded" class="half bg-grey-no-border pt-4">
            <span class="half-bg bg-footer" style="z-index:100;top:60%;height:40%"></span>
            <div class="hello-vue">
                <span @mouseenter="message = 'Powered by Vue.js'"
                    @mouseleave="message = 'Hello Vue.js !'">{{ message }}</span>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer id="footer">
        <ul class="icons">
            <li><a href="javascript:void(0)" id="footer_qq" class="icon fa fa-qq"><span class="label">QQ</span></a>
            </li>
            <li><a href="javascript:void(0)" id="footer_weixin" class="icon fa fa-weixin text-success"><span
                        class="label">Weixin</span></a></li>
            <li class="pr-0"><a href="https://github.com/717021" id="footer_github" class="icon fa fa-github text-dark"
                    data-original-title="" title=""><span class="label">Github</span></a></li>
        </ul>
        <ul class="copyright">
            <li><i class="fa fa-copyright" aria-hidden="true"></i> 2019. All rights reserved</li>
            <li>Design by <a class="link" href="https://www.imyzc.com//about.html">DreamFish</a></li>
        </ul>
        <ul class="copyright copyright-line">
            <li><a href="https://www.imyzc.com/support-browser.html" target="_blank" class="badge badge-pill badge-dark">推荐使用 Microsoft
                    Edge
                    或 Chrome 浏览器浏览本页面</a></li>
        </ul>
        <ul class="copyright">
            <li><a class="link" href="https://www.miitbeian.gov.cn">浙ICP备18051956号-1</a></li>
            <li>
                <a class="jgwab" target="_blank"
                    href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33080202000390">
                    <p><i></i>浙公网安备 33080202000390号</p>
                </a>
            </li>
        </ul>
    </footer>

    <style>#comment_content{font-family:"Merriweather","Emoji",Georgia,serif;line-height:2rem}#comment_host{margin-top:15px;margin-bottom:10px}.faces li:not(.note){cursor:pointer}#comment-loading{text-align:center;height:50px}#comment-more i{transition:transform .3s ease}</style>

    <!--Back to top button-->
    <a id="back-top" href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
</body>

</html>