<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width =device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="梦想小鱼的个人分享博客,梦想小鱼的小站,ALONE SPACE,梦想小鱼的小家">
    <meta name="description" content="梦想小鱼的个人分享博客发生了错误">

    <title>Internal Server Error</title>
    <!--Nessary loading js and css-->
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="/assets/css/loader.min.css">
    <script type="text/javascript" src="/assets/js/config.js"></script>
    <script type="text/javascript" src="/assets/js/yzc-blog.min.js"></script>
    <!--Async load css and js-->
    <script>
        constConfig.autoFooter = false;
        setLoaderCSS(new Array(
            "/assets/libs/bootstrap/css/bootstrap.min.css",
            "/assets/libs/font-awesome/css/font-awesome.min.css",
            "yzc-blog.min.css"));
        setLoaderJS(new Array(
            address_blog_api + "settings.js",
            "/assets/libs/popper/popper.min.js",
            "/assets/libs/jquery/jquery.min.js",
            "/assets/libs/bootstrap/js/bootstrap.min.js",
            "utils.min.js"));
    </script>
    <style>.p-404{display:block;width:100%;text-align:center;height:382px}.p-404 img{width:375px;height:255px;height:auto;margin-right:30px}.p-404 .p-404-foot{margin-top:0;padding:10px;margin-bottom:10px;margin-left:30px}.p-404 .p-404-foot h4{font-size:30px;font-weight:600}.p-404-top{padding-top:40px}.p-404-text{display:flex;flex-direction:column;align-items:flex-start;justify-content:center}@media(max-width:425px){.p-404{height:306px}.p-404 img{width:290px;height:210px;margin-right:0;margin:0 auto}.p-404-top{padding-top:20px}.p-404 .p-404-foot{margin-left:0}.p-404-text{align-items:center;height:auto;border-top:1px solid #ddd;padding:10px 0}}.p-404-buttons{margin-top:20px}</style>
</head>

<body class="not-load">
    <!--Header-->
    <header id="header-minimum">
        <div class="container main-menu main-menu-white">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="nav-header-text">
                    <span class="logo" id="header-logo"></span>
                    <a href="/" id="header-title"></a>
                </div>
                <button type="button" class="icon-menu" id="mobile-nav-toggle"></button>
                <nav id="nav-menu-container" class="nav-menu-container">
                    <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: auto;" id="header-menu">
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section id="main" class="section bg-grey  p-404-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 p-404 d-flex justify-content-end align-items-center">
                    <img src="https://cdn.imyzc.com/images/500.jpg" alt="500" />
                </div>
                <div class="col-md-6 col-sm-12 p-404 p-404-text">
                    <div class="p-404-foot">
                        <h4>糟糕! <br />服务器出了点小问题</h4>
                        <p class="text-secondary">
                            请你稍后再试<br />我们已经在努力 <span class="text-primary">修改 BUG</span> 啦
                        </p>
                        <div class="p-404-buttons">
                            <button class="flat-btn flat-btn-black"
                                onclick="location.href = '/'">返回主页</button>
                            <button class="flat-btn flat-btn-black"
                                onclick="window.location.href = document.referrer;window.history.back(-1);">返回上一页</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row align-items-center justify-content-center mt-3">
            <p class="text-secondary">Copyright © 2019 Dreamfish.</p>
        </div>
    </footer>
</body>

</html>