<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width =device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="梦想小鱼的小站,ALONE SPACE,梦想小鱼的小家">
    <meta name="description" content="梦想小鱼的小站拒绝了您的请求">

    <title>403</title>
    <!--Nessary loading js and css-->
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="/assets/css/loader.min.css">
    <script type="text/javascript" src="/assets/js/config.js"></script>
    <script type="text/javascript" src="/assets/js/yzc-blog.min.js"></script>
    <!--Async load css and js-->
    <script>
        constConfig.autoFooter = false;
        setLoaderCSS(new Array(
            "/assets/libs/bootstrap/css/bootstrap.min.css",
            "/assets/libs/font-awesome/css/font-awesome.min.css",
            "yzc-blog.min.css"));
        setLoaderJS(new Array(
            address_blog_api + "settings.js",
            "/assets/libs/popper/popper.min.js",
            "/assets/libs/jquery/jquery.min.js",
            "/assets/libs/bootstrap/js/bootstrap.min.js",
            "utils.min.js"));
    </script>
    <style>.p-404{display:block;width:100%;text-align:center;height:200px}.p-404 img{width:200px;height:205px;margin-right:30px}.p-404 .p-404-foot{margin-top:0;padding:10px;margin-bottom:10px;margin-left:30px}.p-404 .p-404-foot h4{font-size:30px;font-weight:600}.p-404-top{margin-top:100px;margin-bottom:60px}.p-404-text{display:flex;flex-direction:column;align-items:flex-start;justify-content:center}@media(max-width:425px){.p-404{height:306px}.p-404 img{width:300px;margin-right:0;margin:0 auto}.p-404-top{margin-top:20px;margin-bottom:20px}.p-404 .p-404-foot{margin-left:0}.p-404-text{align-items:center;height:auto;border-top:1px solid #ddd;padding:10px 0}}.p-404-buttons{margin-top:20px}</style>
</head>

<body class="not-load">
    <!--Header-->
    <header id="header-minimum">
        <div class="container main-menu main-menu-white">
            <div class="row align-items-center justify-content-between d-flex">
                <div class="nav-header-text">
                    <span class="logo" id="header-logo"></span>
                    <a href="/" id="header-title"></a>
                </div>
                <button type="button" class="icon-menu" id="mobile-nav-toggle"></button>
                <nav id="nav-menu-container" class="nav-menu-container">
                    <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: auto;" id="header-menu">
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section id="main" class="section p-404-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 p-404 d-flex justify-content-end">
                    <img src="https://cdn.imyzc.com/images/img_403.jpg" alt="403" />
                </div>
                <div class="col-md-7 col-sm-12 p-404 p-404-text">
                    <div class="p-404-foot">
                        <h4>很抱歉，您没有该页面的查看权</h4>
                        <p class="text-secondary">
                            请检查您的 <span class="text-primary">用户</span> 或 <span class="text-primary">权限</span> 是否允许您执行该操作
                        </p>
                        <div class="p-404-buttons">
                            <button class="flat-btn flat-btn-black"
                                onclick="location.href = '/'">返回主页</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer-->
    <footer id="footer">
        <ul class="copyright copyright-line">
            <li>&copy; DreamFish. All rights reserved</li>
            <li>Design by DreamFish</li>
        </ul>
        <ul class="copyright copyright-line">
            <li><a href="/login" target="_blank">登录后台</a></li>
            <li>管理员邮箱 1501076885@qq.com</li>
        </ul>
        <ul class="copyright">
            <li><a href="http://www.miitbeian.gov.cn" target="_blank">浙ICP备18051956号-1</a></li>
            <li><a class="jgwab" target="_blank"
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33080202000390">
                    <p><i></i>浙公网安备 33080202000390号</p>
                </a></li>
        </ul>
    </footer>
</body>

</html>