<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="梦想小鱼的博客,所有文章,ALONE SPACE,DreamFish,梦想小鱼的个人分享博客,梦想小鱼的个人分享平台,梦想小鱼">
    <meta name="description" content="梦想小鱼的个人分享博客-所有文章-一只喜欢炫酷的程序猿的学习分享博客，分享IT技术，一起学习成长！">
    <title>所有文章 - ALONE SPACE</title>
</head>

<body>
    <div th:each="item:${archives}">
        <a th:href="'/archives/post/' + (${item.urlName == null || item.urlName == ''} ? ${item.id} : ${item.urlName}) + '/'" th:text="${item.title}"></a>
        <p th:text="${item.previewText}"></p>
        <p th:text="${item.keywords}"></p>
    </div>
</body>

</html>