<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="ALONE SPACE,梦欤的博客,梦欤的小站,梦欤,梦欤的随手记录册,FishBlog,">
    <meta name="description" content="ALONE SPACE & FishBlog API System">
    <meta name="author" content="梦欤">
    <title>ALONE SPACE & FishBlog API System</title>
    <style>html,body{height:100%;width:100%;padding:0;margin:0}body{display:flex;align-items:center;justify-content:flex-end;background-size:100% auto;background-image:url(https://images.imyzc.com/1d/52/login_bg.jpg);background-repeat:no-repeat;background-attachment:scroll;background-position:center center}.box{position:relative;right:55px;bottom:40px;max-width:40%;padding:20px 20px 50px 20px;background-color:rgba(255,255,255,.6);border-radius:5px}hr{border:0;border-bottom:1px solid #aaa}.footer{font-size:14px;color:#555;position:absolute;width:92%;bottom:15px}.button{display:inline-block;background-color:rgba(0,157,168,0.829);border-radius:15px;padding:5px 15px;color:#fff;text-decoration:none}.button:hover{background-color:#009da8;text-decoration:none}.r{float:right}.b{font-weight:bold}@media(max-width:576px){body{display:flex;align-items:center;justify-content:flex-center;background-size:auto 100%}.box{right:0;bottom:40px;max-width:100%;padding:10px 10px 50px 10px}}</style>
</head>
<body>
    <div class="box">
        <h1>ALONE SPACE & FishBlog API System</h1>
        <p>The back-end server for FishBlog</p>
        <br>
        <a href="https://www.imyzc.com" class="button">转到我的博客主页</a>
        <br>
        <br>
        <hr>
        <p class="footer">&copy; 2019 DreamFish<span class="r">admin@mail.imyzc.com</span></p>
    </div>
</body>


</html>