//
//Text colors and style utilites
.black-text {
	color: $black!important;
}
.text-black {
	color: $black!important;
}
.white-text {
	color: $white!important;
}
.light-text {
	color: $highlight-color!important;
}
.img-responsive-width {
	display: block;
	max-width: 100%;
	height: auto;
}
.center-text {
	text-align: center;
}
.center-img {
	margin: 0 auto;
}
.invisible {
	display: none;
}
.hidden{
    display: none;
}
.no-padding {
    padding: 0;
}
.x-scroll{
	overflow: hidden;
	overflow-x: scroll;
}
.y-scroll{
	overflow: hidden;
	overflow-y: scroll;
}

//Link style
a {
	position: relative;

	@include prefix(transition, color 0.2s ease-in-out);

	color: $highlight-color;
	text-decoration: none;

	&:hover {
		color: $highlight-color-more;
		border-bottom-color: $highlight-color-more;
		text-decoration: none;
	}
	&:active {
		color: #0045bb;
		text-decoration: none;
	}


}
//Link style with under line
.link{
	&::before {
		@include prefix(transition,all 0.2s, webkit moz);
		@include prefix(transition-delay,0s, webkit moz);

    	content: "";
    	position: absolute;
    	top: 100%;
    	display: block;
		width: calc(100% - 2px);
		left: 1px;
		height: 1px;
		margin-top: 1px;
    	background: currentColor;
    	opacity: 0;
	}
	&:hover::before, &:focus::before {
	    @include prefix(transition,all 0.2s, webkit moz);
		@include prefix(transition-delay,0s, webkit moz);
    	top: calc(100% + 2px);
    	opacity: 1;
	}
}

//Icon
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;

	> .label { display: none; }
}
.icon-round {
	position: relative;

	line-height: 5rem;

	@include full-round;
	@include size(5rem, 5rem);

	display: inline-flex!important;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}
//Buttons Icon
.btn-ico {
    position: relative;
	font-size: 22px;
}
.btn-frame {
    display: inline-block;
    padding: .5rem;
	@include full-round;
}
.btn-ico[class*="-rounded"] {
    @include full-round;
}

//font & bordera
.no-border{
	border:0;
}
.ud-border{
	border-bottom: #888888 1px solid;
}
.bk-bold{
	font-weight: 600;
}
.bk-font{
	font-family: 'Arimo', sans-serif;
}
.bk-font-z{
	font-family: "Poppins", sans-serif;
}

.reverse-icon {
	@include prefix(transform, rotate(180deg), webkit moz);
}

.text-background-light{
	text-shadow: 0px 0px 10px #FFFFFF;
}
.text-background-black{
	text-shadow: 0px 0px 10px #000000;
}

.full{
	width: 100%;
	height: 100%;
}
.full-x{
	width: 100%;
}
.full-y{
	height: 100%;
}

//css定义一个模糊效果类
.blur{
	@include prefix(filter, blur(3px), webkit moz ms);
}
.blur-lower{
	@include prefix(filter, blur(2px), webkit moz ms);
}
.blur-more{
	@include prefix(filter, blur(5px), webkit moz ms);
}
.blur-none{
	@include prefix(filter, blur(0px), webkit moz ms);
}

.cursor-pointer {
	cursor: pointer;
}

.pc-fix-scrollbar {
	@include pc-fix-scrollbar();
}

//table fix
.table td, .table th {
    vertical-align: middle;
}

//pagination icon fix
.page-item .fa{
	margin-left: 10px;
    margin-right: 10px;
    margin-top: .6rem;
    vertical-align: middle;
}
