
.btn-inline{
    display: inline-block;
}
.btn-block{
    display: block;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}

.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}